@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundHeader:#70d1e2;
  --textHeader:hsl(0, 0%, 100%);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--textHeader);
  --color-header: var(--textHeader);
  --background-header: var(--backgroundHeader);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Định nghĩa biến màu cho chế độ tối KHI CÓ CLASS .dark */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --backgroundHeader:#003366;
  --textHeader:#ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background: var(--backgroundHeader);
  color: var(--textHeader);

}
